@import "./variables";

body {
  font-family: $font__primary;
  font-size: 16px;
  line-height: 1.75em;
  color: $color__text_primary;
  overflow-x: hidden;
  margin:0;
  letter-spacing: 0.03em;
}


svg {
  display: block;
}

button {
  cursor: pointer;
  outline: 0;
}


img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
