@import "./variables";

body {
  font-family: $font__primary;
  font-size: 16px;
  line-height: 1.75em;
  color: $color__text_primary;
  overflow-x: hidden;
}


svg {
  display: block;
}

button {
  cursor: pointer;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font__heading;
  margin-top: 0;
  font-weight: 600;
  color: $color__text_primary;
}


img {
  max-width: 100%;
  height: auto;
}
