$font__primary: 'Nunito', sans-serif;
$font__heading: 'Nunito', sans-serif;

$color__primary_main: #E89989;
$color__primary_accent: #F8E1C5;
$color__secondary_main: #1B094F;
$color__secondary_accent: #8121A3;

$color__text_primary: #2B2350;
$color__text_secondary: #453d6C;

$color__text_main_inverted: #FFFFFF;

$color__back_main: #FFFFFF;

