$font__primary: 'Jost', sans-serif;
$font__heading: 'Fira Code', monospace;

$color__primary_main: #E89989;
$color__primary_accent: #F8E1C5;
$color__secondary_main: #0b1b44;
$gradient__secondary_main: linear-gradient(225deg, rgba(11,27,68,1) 0%, rgba(8,51,142,1) 100%);
//$color__secondary_main: #1b094f;
$color__secondary_accent: #08338e;
//$color__secondary_accent: #8121A3;

$color__black_9: #313139;
$color__black_8: #4f4f5A;
$color__black_7: #6C6C78;
$color__black_6: #93939E;
$color__black_5: #b2b2ba;
$color__black_4: #c5c5cb;
$color__black_3: #d5d5db;
$color__black_2: #e5e5e8;

$color__text_primary: $color__black_9;

$color__text_main_inverted: #FFFFFF;

$color__back_main: #FFFFFF;

$breakpoint_sm:30.001em;
$breakpoint_md:48.001em;
$breakpoint_lg:64.001em;
$breakpoint_xl:100em;