.feature {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 6rem;

  &__intro {
    text-align: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;

    h2 {

    }

    p {
      line-height: 1.5em;
      margin-top: 1rem;
    }

  }

  &__item {

    padding-bottom: 6rem;
    padding-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

  }


  .reverted {

    flex-direction: row-reverse;

    .feature__image {
      direction: rtl;
    }

    .feature__description {
      padding-right: 0;
      padding-left: 4rem;

    }


  }

  &__description {

    width: 47.5%;
    padding-right: 4rem;

    h3 {

    }

    p {
      line-height: 1.5em;
      margin-top: 1rem;
    }

  }

  &__image {
    width: 52.5%;
    margin-left: 0;
    margin-right: 0;

    img {
      max-width: none;
    }
  }




}


.feature_t {

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;


  .box_text {
    margin-top: 3rem;
    background: #8121a3;
    width: 50%;
  }

  .box_img {
    margin-top: 3rem;
    background: #0b1b44;
    width: 50%;
    text-align: right;
    direction: rtl;

    img {
      width: 100%;
      max-width: none;

    }

  }


}